$projectName: todo_list;
@import "Page.scss";

.#{$projectName}-page {
  background-image: url("../../static/images/todo_list_django/background/markus-winkler-m-2H2zJQ2wA-unsplash.jpg");
}

.todo_list-images {
  ul {
    text-align: center;
    height: 600px;
    div {
      margin-bottom: 100px;
      text-align: center;
      width: 600px;
      height: 400px !important;
      overflow: hidden;
    }
    li {
      width: 600px;
      height: 400px;
      position: center;
      transition: 0.6s ease;
      &:hover {
        transform: scale(1.2);
        transition: all 0.6s ease;
      }
    }
  }
}

// popup flipper (carousel) animations for opening and closing
.popup-scale {
  animation-name: popup;
  animation-duration: 0.6s;
}

.closing-animation {
  animation-name: scaleDown;
  animation-duration: 0.6s;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
