@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,700&display=swap");
.page {
  width: 100%;
  height: 1600px;
  background: #f1f1f1;
  overflow: hidden;
  position: relative;
  padding: 1px 0 0 0;
  border-bottom: rgba(0, 0, 0, 0.534) solid 3px;
  background-image: url("../../static/images/Imobile-shop/background/lamp-at-the-wall-hd-wallpaper-5120x2160.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 30%;
}

.secondary-assets {
  margin-top: 40px;
  width: 100%;
  float: left;
  left: 0;
}

.secondary-assets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
}

.secondary-assets .asset1-1 {
  width: 1100px;
  /* margin-left: 1500px; */
  -webkit-transition: cubic-bezier(0, 0, 0, 0.79) 1s;
  transition: cubic-bezier(0, 0, 0, 0.79) 1s;
}

.secondary-assets .asset1-1 img {
  width: 1100px;
  height: 80px;
}

.secondary-assets .asset1-1 span {
  position: absolute;
  top: 0;
  color: whitesmoke;
  font-size: 30px;
  padding: 18px;
  -webkit-transition: cubic-bezier(0, 0, 0, 0.79) 1s;
  transition: cubic-bezier(0, 0, 0, 0.79) 1s;
  /* left: 1500px; */
}

.secondary-assets .asset2-1 {
  width: 150px;
  position: absolute;
  /* right: -1800px; */
  -webkit-transition: cubic-bezier(0, 0, 0, 0.79) 1s;
  transition: cubic-bezier(0, 0, 0, 0.79) 1s;
}

.secondary-assets .asset2-1 img {
  width: 150px;
  height: 80px;
}

/* imobile is the standart one till' we find something epic like variables in css to make it easier and shorter and much better */
.imobile-images {
  margin-top: 200px;
}

.imobile-images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(1, 252, 231, 0.87);
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.534) solid 3px;
}

.imobile-images ul li {
  width: 40%;
  height: 400px;
  margin: 30px 0;
  position: relative;
}

.imobile-images ul li img {
  max-width: 100%;
  max-height: 400px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.imobile-images ul h1 {
  padding: 0 15%;
}

.imobile-images ul h1 a {
  color: #ffff;
  font-size: 22px;
  border: 2px solid #ffff;
  padding: 1% 3%;
  line-height: 70px;
  text-decoration: none;
}

.imobile-images ul h1 a:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background: #ffff;
  color: black;
}

.imobile-images ul .secondImage {
  margin-top: 80px;
}

.imobile-images ul .thirdImage {
  margin-top: -70px;
  margin-bottom: 0;
}

.imobile-images ul .fourthImage {
  margin-top: 80px;
  height: 291px;
}

.imobile-images #flipper1-key:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  overflow: hidden;
}

.imobile-skills {
  padding: 20px 0 1% 0;
}

.imobile-skills table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.imobile-skills th {
  padding: 10px 5px;
  margin-bottom: 20px;
  color: #ffff;
  font-weight: 400;
  font-size: 30px;
}

.imobile-skills tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.imobile-skills tr td {
  background: rgba(0, 0, 0, 0.253);
  justify-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #ffff;
  padding: 5px 30px;
  border-collapse: collapse;
}

.imobile-skills tr .descriptions {
  padding: 20px 100px;
}

/* special = alone  */
.imobile-skills tr td {
  padding: 2px 5px;
}

.flipper1-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: none;
}

.flipper1 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  display: block;
  overflow: auto;
}

.flipper1 .main-image {
  float: right;
  max-width: 80%;
  margin-right: 2%;
  margin-top: 100px;
  margin-bottom: 2%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.flipper1 #caption {
  position: absolute;
  float: right;
  z-index: 4;
  color: #ffff;
  font-size: 30px;
  width: 80%;
  right: 2%;
  text-align: center;
}

.flipper1-images {
  margin-top: 100px;
  margin-left: 1%;
  float: left;
  display: contents;
}

.flipper1-images img {
  width: 10%;
  border: #ffff solid 1px;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  opacity: 0.6;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.flipper1-images img:hover, .flipper1-images img:focus, .flipper1-images img:active {
  opacity: 1;
  width: 12%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.flipper1-close-btn {
  right: 0;
  font-size: 50px;
  color: #ffff;
  margin: 1%;
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.blackjack_rps_js-skills tr .descriptions {
  cursor: pointer;
}

.blackjack_rps_js-skills tr .descriptions a {
  color: #ffff;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.blackjack_rps_js-skills tr .descriptions:hover a {
  color: black;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 16.5px;
}

.messenger_clone-images ul li img {
  cursor: pointer;
}

.business_list-images .thirdImage {
  margin-top: -120px;
  width: 500px;
}

.business_list-images .thirdImage img {
  width: 400px;
}

/* alone */
.imobile-images .fourthImage {
  margin-top: 80px;
  height: 291px;
}

.business_list-images .fourthImage {
  margin-top: -50px;
}

.flipper8 .main-image,
.flipper9 .main-image,
.flipper12 .main-image,
.flipper13 .main-image {
  max-width: 78%;
}

/* page4 */
.page4 .secondary-assets {
  margin-top: 60px;
}

.business_list-images ul {
  padding-bottom: 80px;
}

/* page5 */
.portfolio-images ul h1 {
  padding: 0 10%;
}

/* page6 */
.hazel_ai-front_end {
  padding-top: 140px;
}

.hazel_ai-front_end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.hazel_ai-front_end ul li {
  color: #07ade4;
  -webkit-box-shadow: 0 0 20px 20px black;
          box-shadow: 0 0 20px 20px black;
  padding: 50px;
  background: rgba(255, 255, 255, 0.144);
}

.hazel_ai-front_end ul h1 a {
  text-decoration: none;
  color: black;
}

.hazel_ai-front_end ul h1 a:hover {
  color: teal;
  font-size: 33px;
  text-decoration: underline;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

/* page7 */
.todo_list-images ul div {
  margin-bottom: 100px;
  text-align: center;
  width: 600px;
  height: 400px !important;
  overflow: hidden;
}

.todo_list-images ul {
  text-align: center;
  height: 600px;
}

.todo_list-images ul li {
  width: 600px;
  height: 400px;
  position: center;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.todo_list-images ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.popup-scale {
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.closing-animation {
  -webkit-animation-name: scaleDown;
          animation-name: scaleDown;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* page8 */
.my_little_market-skills table .market-desc,
.my_little_market-skills table .market-title {
  color: black;
}

.my_little_market-images ul h1,
.blackjack_rps_js-images ul h1 {
  padding: 0 5%;
}

.my_little_market-images ul {
  padding-bottom: 100px;
}

/* page9 NOTICE fix the blackJack they aren't in place*/
.secondary-assets .asset1-7 img {
  width: 1100px;
  height: 122px;
}

.secondary-assets .asset2-7 img {
  height: 122px;
  width: 159px;
}

.blackjack_rps_js-images .fourthImage {
  margin-top: 100px;
  color: white;
  text-decoration: none;
}

.blackjack_rps_js-images .fourthImage:hover {
  color: black;
}

/* Other projects by me area */
.page-2 {
  width: 100%;
  height: 100%;
  background-image: url("../../static/images/Various-Py-Projects/background/nikita-kachanovsky-bLY5JqP_Ldw-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 80%;
  border-bottom: rgba(0, 0, 0, 0.534) solid 3px;
  position: relative;
  overflow: hidden;
}

.Various-Py-Projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.726);
  margin-top: 200px;
  height: 670px;
  width: 100%;
  text-align: center;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
  margin-bottom: 50px;
}

.Various-Py-Projects .column {
  border-right: 2px solid #ffff;
  padding: 10% 5%;
  position: relative;
}

.Various-Py-Projects .column ul {
  padding-left: 10px;
  list-style-type: decimal;
}

.Various-Py-Projects .column p,
.Various-Py-Projects .column li {
  color: #ffff;
}

.Various-Py-Projects .column img {
  width: 30%;
  margin-left: -15%;
  position: absolute;
  left: 50%;
  bottom: 120px;
}

.Various-Py-Projects .column .weather-scraper img {
  bottom: 100px;
}

.tic-tac-toe,
.process-workbook,
.weather-scraper {
  margin: 0 2%;
}

.tic-tac-toe p {
  margin-top: 30%;
}

.process-workbook p {
  margin-top: 30%;
}

.Various-Py-Projects h1 {
  color: white;
  margin: 20px 0;
  border: 2px solid #ffff;
  font-weight: 400;
  font-size: 25px;
  padding: 1% 5%;
}

.Various-Py-Projects .column a {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #ffff;
  text-decoration: none;
  padding: 1% 1%;
  border: 1px solid #ffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 40px;
  left: 9%;
}

.Various-Py-Projects .column .tic-tac-toe a {
  left: 15%;
}

.Various-Py-Projects .column .process-workbook a {
  left: 6%;
}

.Various-Py-Projects .column a:hover {
  font-family: "Roboto Mono", monospace;
  background: white;
  font-weight: bold;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-1 {
  width: 100%;
  height: 100%;
  background-image: url("../../static/images/my-other-projects/background/nasa-Q1p7bh3SHj8-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 80%;
  border-bottom: rgba(0, 0, 0, 0.534) solid 3px;
  position: relative;
  overflow: hidden;
}

.my-other-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  background: rgba(0, 0, 0, 0.726);
  margin-top: 200px;
  height: 100%;
  width: 100%;
  text-align: center;
  border-top: black solid 3px;
  border-bottom: black solid 3px;
  margin-bottom: 50px;
}

.photoshop {
  border-right: 2px solid #ffff;
  padding: 1% 1% 10% 1%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.25fr 1.75fr;
      grid-template-rows: 0.25fr 1.75fr;
}

.photoshop .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.photoshop .row h1 {
  color: white;
  margin: 20px 0;
  border: 2px solid #ffff;
  font-weight: 400;
  font-size: 25px;
  padding: 1% 230px;
  -ms-grid-column: 2;
  grid-column: 2;
}

.cycler1,
.cycler2,
.cycler3,
.cycler4 {
  position: relative;
  width: 100%;
}

.cycler1 img,
.cycler2 img,
.cycler3 img,
.cycler4 img {
  width: 100%;
  position: absolute;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
}

.cycler1 img {
  height: 349px;
}

.cycler2 img {
  height: 177px;
}

.cycler3 img {
  top: 177px;
  height: 172px;
}

.cycler4 .cy4img2 {
  top: 177px;
}

.cycler4 img#a1 {
  height: 349px;
}

.cycler4 img#a2 {
  height: 172px;
}

.cycler4 img#a2:nth-child(3) {
  height: 178px;
}

.photoshop .column span {
  position: absolute;
  color: #ffff;
  width: 50%;
}

.photoshop .cycler3 span {
  color: black;
  top: 177px;
}

.cycler1 #a1,
.cycler2 #a1,
.cycler3 #a1,
.cycler4 #a1 {
  z-index: 7;
}

.cycler1 #a2,
.cycler2 #a2,
.cycler3 #a2,
.cycler4 #a2 {
  z-index: 6;
}

.cycler1 #a3,
.cycler2 #a3,
.cycler3 #a3 {
  z-index: 5;
}

.cycler1 #a4,
.cycler2 #a4,
.cycler3 #a4 {
  z-index: 4;
}

.cycler1 #a5,
.cycler2 #a5 {
  z-index: 3;
}

.cycler2 #a6 {
  z-index: 2;
}

.cycler2 #a7 {
  z-index: 1;
}

.illustrator {
  text-align: center;
}

.illustrator .row h1 {
  color: white;
  margin: 20px 50px 0 50px;
  border: 2px solid #ffff;
  font-weight: 400;
  font-size: 25px;
  padding: 1% 75px;
  text-align: center;
}

.illustrator .rowb {
  margin-top: 15px;
}

.illustrator img {
  height: 200px;
  margin: 15px;
}

.my-other-projects .url p {
  position: absolute;
  left: 15%;
  color: #ffff;
}

footer .find_me_online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #313135;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .find_me_online a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer .find_me_online a:nth-child(1):hover,
footer .find_me_online a:nth-child(4):hover,
footer .find_me_online a:nth-child(2):hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: wheat;
}

footer .find_me_online img {
  height: 30px;
  padding: 10px;
}

footer .find_me_online a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

footer .find_me_online p {
  padding: 30px;
}
/*# sourceMappingURL=Page.css.map */