$projectName: blackjack_rps_js;
@import "Page.scss";

.#{$projectName}-page {
  background-image: url("./static/images/blackjack_rps_js/background/markus-spiske-khurOlBGbQ8-unsplash\ \(1\).jpg");
}

/* page9 NOTICE fix the blackJack they aren't in place*/
.blackjack_rps_js-page .secondary-assets {
  .asset1 img {
    width: 1100px;
    height: 122px;
  }
  .asset2 img {
    height: 122px;
    width: 159px;
  }
}

.blackjack_rps_js-images {
  ul h1 {
    padding: 0 5%;
  }
  .fourthImage {
    margin-top: 100px;
    color: white;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}

.blackjack_rps_js-skills tr {
  .descriptions {
    cursor: pointer;
    a {
      color: #ffff;
      text-decoration: none;
      transition: all 0.6s ease;
    }
    &:hover a {
      color: black;
      transition: all 0.6s ease;
      font-size: 16.5px;
    }
  }
}
