
.find_me_online {
    display: flex;
    background: #313135;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    a {
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-decoration: none;
        transition: all .3s ease-out;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        &:nth-child(1):hover, &:nth-child(2):hover, &:nth-child(4):hover, &:nth-child(5):hover {
            transform: scale(1.2);
            color: wheat;
        }
    }
    img {
        height: 30px;
        padding: 10px;
    }
    p {
        padding: 30px;
    }
}
