$projectName: my_little_market;
@import "Page.scss";

.#{$projectName}-page {
  background-image: url("../../static/images/my_little_market/background/brooke-lark-W1B2LpQOBxA-unsplash.jpg");
}

.my_little_market-images ul {
  padding-bottom: 100px;
  h1 {
    padding: 0 5%;
  }
}

.my_little_market-skills {
  table {
    .market-title,
    .market-desc {
      color: black;
    }
  }
}
